ul,
li {
    display: block;
    text-decoration: none;
}

header .container-fluid {
    position: fixed;
    z-index: 1;
    height: 10vh;
    background-color: #69a5af;
    width: 100vw;
}

header .container {
    height: 9.9vh;
}

header .logo img {
    width: 12vh;
    height: 10vh;
}

header .menu {
    font-family: 'Montserrat', sans-serif;
    margin-top: 3vh;
}

header .menu .menu-item {
    margin-left: 6vw;
}

header .menu .menu-item a {
    font-size: 20px;
    font-weight: 600;
    color: rgb(248, 245, 245);
}

header .menu .menu-item a.active {
    color: #18343a;
}

header .menu .menu-item a:hover {
    text-decoration: none;
    color: #18343a;
    overflow-x: hidden;
    transition: all 0.2s ease;
}

header hr {
    background-color: rgb(248, 245, 245);
    height: 0.7vh;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}